@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --brand: #2371c9ff;
  --brand-light: #d5e8f6ff;
  --main-text-black: #272727ff;
  --secondary-text-black: #767676ff;
  --discreet-text-black: #949494ff;
  --container-white: #fafafaff;
  --background: #f0f0f0ff;
  --foreground: #272727ff;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;	
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
